
*
{
	font-weight:bold;
	text-shadow: 2px 2px 4px black;
}

html
{
	background :url(../Images/Tokyo-Shibuya-neon-lights.jpg) no-repeat center center fixed;
	-webkit-background-size:cover;
	-moz-background-size: cover;
	-o-background-size:cover;
	background-size:cover;
}





title
{
	font-weight:bold;
}

h1
{

    color: cyan;
	font-family: Georgia, "Comic Sans MS", serif;
	font-size: 70px;	
    width: 700px; 
    margin: auto; 
    text-align: justify;
    padding: 12px;
    margin-bottom: 5px;

}

h2
{

	color: gold;
	font-family: Georgia, "Comic Sans MS", serif;
	font-size:30px;
	width: 800px; 
    margin: auto; 
    text-align: justify;
    padding: 12px;
    margin-bottom: 5px;
	text-decoration:underline
	
}

h3
{
	
	color: orangered;
    font-family: Georgia, "Comic Sans MS", serif;
	font-size: 30px;
	width: 500px; 
    margin: auto; 
    text-align: justify;
    padding: 12px;
    margin-bottom: 5px;
	text-decoration:underline
}

h4
{

	color: cyan ;
	font-family:Georgia, "Comic Sans MS", serif;

}

img
{
	text-align:center;
	border: 5px #2AB299 groove ;
	border-radius: 10px;
	box-shadow: 8px 8px 8px ;
}

strong
{	
	
	color: orange;
	
}
 
ul, il strong
{
	color:greenyellow;
	font-weight:bold;
}

em
{

	text-decoration:underline;
	
}


a
{

   text-decoration: none;
   color: cyan;
   
	
}

a:hover
{

	text-decoration: underline, ;
	color: green;
		
}
	
p
{
    color:orange;
    font-weight:bold;	
	font-family: Georgia, "Comic Sans MS", serif;	
	font-size:large;
	text-shadow: 2px 2px 4px black;
    margin: auto; 
    text-align: justify;
    padding: 12px;
    margin-bottom: 5px;

}
	
ol,ul
{
    

    margin: auto; 
    text-align: justify;
    padding: 12px;
    margin-bottom: 5px;
	color:greenyellow;
	font-size:large;
	font-family: Georgia, "Comic Sans MS", serif;
	text-shadow: 2px 2px 4px black;
}

img 
{
	display:block;
    margin:auto;
}

ul a
{
	font-size:30px;
}


table
{
	margin:auto;
	background-color:#52524D;
	width:auto;
	margin-top:250px;
	border:1px solid #52524D;	
}

table a 
{	
	text-decoration:none;
	text-align:center;
	color:#dacb26 ;
	padding: 23px;
	font-variant: small-caps;
	font-size:50px;
}



/*                       LES CLASS                         */






.flex
{
	display: flex;
    justify-content: space-around;
}

/*               LES ID                     */





/*zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz*/


/* header */





.main_menu
{
	text-shadow: 2px 2px 4px black;
	max-width: auto;
	margin-top:400px;
	text-align:center;
	background-color:   #52524D   ;
	margin: 0 auto;
		
}

	
ul.main_menu
{
	margin-top:15px;
	
}


	
.main_menu	a
{
	
	font-family: Georgia, "Comic Sans MS", serif;
	text-decoration:none;
	color:      #dacb26     ;
	padding: 8px;
	font-variant: small-caps;
}


.main_menu a:hover
{
	color: red;
}

	


li.dropdown 
{	
	display:inline-block;
}


.dropdown-menu
{
	display:none;
	position:absolute;
	background-color:#f5f5f5;
	min-width:160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
}

.dropdown-menu a
{
	color:grey;
	padding: 12px 16px;
	text-decoration:none;
	display:block;
	text-align: left;
}

.dropdown:hover .dropdown-menu 
{
	display:block;
}
















































